{% extends 'base.html.twig' %}

{% block title %}New Schedule{% endblock %}

{% block body %}
    <h1>新しい運行スケジュールを作成する</h1>

    {{ include('schedule/_form.html.twig') }}

    <a href="{{ path('app_schedule_index') }}" class="btn btn-outline-secondary mb-2">一覧</a>
{% endblock %}
