{% extends 'base.html.twig' %}

{% block title %}Edit RouteCategory{% endblock %}

{% block body %}
    <h1>Edit RouteCategory</h1>

    {{ include('route_category/_form.html.twig', {'button_label': '更新'}) }}

    <a href="{{ path('app_route_category_index') }}" class="btn btn-outline-secondary mb-2">一覧</a>

    {{ include('route_category/_delete_form.html.twig') }}
{% endblock %}
