{% extends 'base.html.twig' %}

{% block title %}New RouteCategory{% endblock %}

{% block body %}
    <h1>新規作成 RouteCategory</h1>

    {{ include('route_category/_form.html.twig') }}

    <a href="{{ path('app_route_category_index') }}" class="btn btn-outline-secondary mb-2">一覧</a>
{% endblock %}
